@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DotNetDuds</h1>
    <p>This site is built for the COMP2084 Final Exam at Georgian College in the Fall 2020 Semester.</p>
</div>
